body {
  font: 400 15px Lato, sans-serif;
  line-height: 1.8;
  color: #818181;
}

.jumbotron {
  font-family: Montserrat, sans-serif;
}

.navbar {
  font-family: Montserrat, sans-serif;
}

#koehn {
  font-family: 'Kaushan Script', cursive;
  border-style: solid;
  padding: 20px;    
}


h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #303030;
  font-weight: 600;
  margin-bottom: 30px;
}

h4 {
  font-size: 19px;
  line-height: 1.375em;
  color: #303030;
  font-weight: 400;
  margin-bottom: 30px;
}

.navbar {
  margin-bottom: 0;
  background-color: #ce631c;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
  color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #ce631c !important;
  background-color: #fff !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}

.jumbotron {
	background-image: url("crop3.png");
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
	color: #ffffff;
	padding: 100px 20px;
  margin-bottom: 0px;
}

.container-fluid {
	padding: 60px 50px;
}

.bg-grey {
	background-color: #f6f6f6;
}

.orange {
  color: #ce631c;
}

.logo-small {
	color: #ce631c;
	font-size: 50px;
}

.logo {
	color: #ce631c;
	font-size: 200px;
}

.pics {
  max-height: 100%;
       }

.thumbnail {
	padding: 0 0 0 0;
	border: none;
	border-radius: 0;

}

.thumbnail img {
	max-width: 100%;
  height: auto;
}

.panel {
  border: 1px solid #ce631c; 
  border-radius:0;
  transition: box-shadow 0.5s;
}

.panel:hover {
  box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.panel-footer .btn:hover {
  border: 1px solid #ce631c;
  background-color: #fff !important;
  color: #ce631c;
}

.panel-heading {
  color: #fff !important;
  background-color: #ce631c !important;
  padding: 25px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.panel-footer {
  background-color: #fff !important;
}

.panel-footer h3 {
  font-size: 32px;
}

.panel-footer h4 {
  color: #aaa;
  font-size: 14px;
}

.panel-footer .btn {
  margin: 15px 0;
  background-color: #ce631c;
  color: #fff;
}

.faq {
  margin-left: 40px; 
}

.quote {
  padding: 40px;
}

.button {
  background-color: #ce631c;
}

footer .glyphicon {
	font-size: 20px;
	margin-bottom: 20px;
	color: #ce631c;
}

@media screen and (max-width: 768px) {
	.col-sm-4 {
		text-align: center;
		margin: 25px 0;
	}

}

